{% extends 'base.html' %}
{% load crispy_forms_filters %}


{% block title %}
    <title>LogIn</title>
{% endblock %}

{% block page_title %}
    <h2>Вход</h2>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>
            Имя пользователя или пароль введены некорректно!
        </p>
    {% else %}
        <p>Используйте форму ниже для входа:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Вход"></p>
        </form>
    </div>
    <a href="{% url 'password_reset' %}">Забыли пароль?</a>
{% endblock %}