{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    <title>Password Reset</title>
{% endblock %}

{% block page_title %}
    <h2>Восстановить пароль</h2>
{% endblock %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль дважды:</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка для изменения пароля недействительна из-за того,
        что уже была использована. Пожалуйста, запросите новую ссылку</p>
    {% endif %}
{% endblock %}