{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
    h1 {
        background-color: lightgrey;
    }
</style>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%  static  'css/style.css'  %}">
    {% block title %}
        <title>Homepage</title>
    {% endblock %}
</head>
<body>

    <div id="menu">

    {% block page_title %}
        <h1>Главная</h1>
    {% endblock %}
        <ul>
            <li><a href="{% url 'index' %}">Меню</a></li>
            <li><a href="{% url 'contacts' %}"> Контакты</a></li>
            <li><a href="{% url 'login' %}"> Вход</a></li>
        </ul>
    {% block content %}
        <a>Меню</a>
    {% endblock %}

    </div>

</body>
</html>
