{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Job</title>
{% endblock %}

{% block page_title %}
    <h2>{{ q.title }}</h2>
{% endblock %}

{% block content %}
    {{ q.title }}
    {{ q.company_name }}
    {{ q.employment_status }}
    {{ q.description }}
    {{ q.responsibilities }}
    {{ q.experience }}
    {{ q.job_location }}
    {{ q.salary }}
    {{ q.published_on }}

    <nav>
    {% if request.user == q.user %}
        <div class="col-lg-4">
            <a href="{% url 'job_update' q.id %}">
                Изменить
            </a>
            <a href="{% url 'job_delete' q.id %}">
                Удалить
            </a>
        </div>
    {% endif %}
    {% if request.user.profile.role == 'employee' %}
        <div class="col-lg-4">
            <a href="{% url 'apply_job' q.id %}">
                Откликнуться
            </a>
        </div>
    {% endif %}
    <div class="col-lg-4">
        <a href="{% url 'job_listing' %}">
            Назад
        </a>
    </div>
    </nav>
{% endblock %}