{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>My Jobs</title>
{% endblock %}

{% block page_title %}
    <h2>Мои вакансии</h2>
{% endblock %}

{% block content %}
    {% if request.user.profile.role == 'employer' %}
            {% for job in jobs_list %}
              {% if job.user == request.user %}
                <div class="card col-lg-4" style="width: 25rem;">
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="{% url 'job_single' job.id %}">
                        {{ job.title }}
                      </a>
                    </h5>
                  </div>
                </div>
              {% endif %}
                {% empty %}
                Вы не создавали вакансии ранее...
            {% endfor %}
    {% else %}
        <a>Вы не зарегестрированны как работадатель, доступ ограничен...</a>
    {% endif %}
{% endblock %}